<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eat_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,115}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{252,468},{39,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eat_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{369,421},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,115}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{252,468},{39,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eat_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{369,421},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,115}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{252,468},{39,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eat_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{369,421},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,115}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{252,468},{39,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eat_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{369,421},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,115}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{252,468},{39,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,115}</string>
                <key>textureRect</key>
                <string>{{369,421},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,115}</string>
                <key>spriteSourceSize</key>
                <string>{45,115}</string>
                <key>textureRect</key>
                <string>{{252,421},{45,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{45,97}</string>
                <key>spriteSourceSize</key>
                <string>{45,115}</string>
                <key>textureRect</key>
                <string>{{386,371},{45,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{1,355},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{130,236},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,115}</string>
                <key>textureRect</key>
                <string>{{130,119},{127,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,115}</string>
                <key>textureRect</key>
                <string>{{259,1},{127,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,235},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,235},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,235},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,235},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{258,328},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,235},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{258,328},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,235},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{258,328},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{258,328},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_up_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{126,101}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{387,243},{126,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_up_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{259,118},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,121}</string>
                <key>spriteSourceSize</key>
                <string>{39,121}</string>
                <key>textureRect</key>
                <string>{{130,353},{39,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,121}</string>
                <key>spriteSourceSize</key>
                <string>{39,121}</string>
                <key>textureRect</key>
                <string>{{129,441},{39,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{39,117}</string>
                <key>spriteSourceSize</key>
                <string>{39,121}</string>
                <key>textureRect</key>
                <string>{{457,418},{39,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,116}</string>
                <key>spriteSourceSize</key>
                <string>{45,116}</string>
                <key>textureRect</key>
                <string>{{129,394},{45,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,116}</string>
                <key>spriteSourceSize</key>
                <string>{45,116}</string>
                <key>textureRect</key>
                <string>{{118,482},{45,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_front_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{45,112}</string>
                <key>spriteSourceSize</key>
                <string>{45,116}</string>
                <key>textureRect</key>
                <string>{{410,418},{45,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{1,119},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{119,108}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{388,1},{119,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{130,1},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{1,237},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{119,106}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{387,122},{119,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>大概的位子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,115}</string>
                <key>spriteSourceSize</key>
                <string>{62,115}</string>
                <key>textureRect</key>
                <string>{{1,472},{62,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_animalAction.png</string>
            <key>size</key>
            <string>{497,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e4a2221cf606fb4376c0379f8f5257:2becac332d6a86696e615a4848888140:94e53bb9cc4718cfc6fa825c0117a58b$</string>
            <key>textureFileName</key>
            <string>play_animalAction.png</string>
        </dict>
    </dict>
</plist>
