<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,154}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{1562,279},{145,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,154}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{1709,148},{145,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,133}</string>
                <key>spriteSourceSize</key>
                <string>{77,133}</string>
                <key>textureRect</key>
                <string>{{1041,419},{77,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,133}</string>
                <key>spriteSourceSize</key>
                <string>{77,133}</string>
                <key>textureRect</key>
                <string>{{1176,419},{77,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{77,129}</string>
                <key>spriteSourceSize</key>
                <string>{77,133}</string>
                <key>textureRect</key>
                <string>{{1311,419},{77,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_front_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,137}</string>
                <key>spriteSourceSize</key>
                <string>{83,137}</string>
                <key>textureRect</key>
                <string>{{1709,416},{83,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_front_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,137}</string>
                <key>spriteSourceSize</key>
                <string>{83,137}</string>
                <key>textureRect</key>
                <string>{{1848,416},{83,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_front_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,133}</string>
                <key>spriteSourceSize</key>
                <string>{83,137}</string>
                <key>textureRect</key>
                <string>{{1709,295},{83,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_walk_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{147,137}</string>
                <key>spriteSourceSize</key>
                <string>{151,137}</string>
                <key>textureRect</key>
                <string>{{1880,1},{147,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_walk_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{147,137}</string>
                <key>spriteSourceSize</key>
                <string>{151,137}</string>
                <key>textureRect</key>
                <string>{{1880,140},{147,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_walk_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{141,129}</string>
                <key>spriteSourceSize</key>
                <string>{151,137}</string>
                <key>textureRect</key>
                <string>{{1562,148},{141,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_walk_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,145}</string>
                <key>spriteSourceSize</key>
                <string>{157,145}</string>
                <key>textureRect</key>
                <string>{{1562,1},{157,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_walk_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,145}</string>
                <key>spriteSourceSize</key>
                <string>{157,145}</string>
                <key>textureRect</key>
                <string>{{1721,1},{157,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_walk_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{153,135}</string>
                <key>spriteSourceSize</key>
                <string>{157,145}</string>
                <key>textureRect</key>
                <string>{{1865,279},{153,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{89,427},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{1,427},{68,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{416,519}</string>
                <key>spriteSourceSize</key>
                <string>{474,577}</string>
                <key>textureRect</key>
                <string>{{1041,1},{416,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{422,517}</string>
                <key>spriteSourceSize</key>
                <string>{474,577}</string>
                <key>textureRect</key>
                <string>{{522,1},{422,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{424,519}</string>
                <key>spriteSourceSize</key>
                <string>{474,577}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{422,517}</string>
                <key>spriteSourceSize</key>
                <string>{474,577}</string>
                <key>textureRect</key>
                <string>{{522,1},{422,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{59,39}</string>
                <key>textureRect</key>
                <string>{{48,427},{59,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>practice_all.png</string>
            <key>size</key>
            <string>{2028,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e718e1f2a6508170c5e970e08bb31516:9b65c5acddd6e33503926f8f9a1a5608:1414114f2f2038918e584e731143e260$</string>
            <key>textureFileName</key>
            <string>practice_all.png</string>
        </dict>
    </dict>
</plist>
