<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>analyzing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,17}</string>
                <key>spriteSourceSize</key>
                <string>{115,17}</string>
                <key>textureRect</key>
                <string>{{252,468},{115,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_right-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{486,204},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,395}</string>
                <key>spriteSourceSize</key>
                <string>{448,395}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>form.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,86}</string>
                <key>spriteSourceSize</key>
                <string>{445,86}</string>
                <key>textureRect</key>
                <string>{{398,1},{445,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,15}</string>
                <key>spriteSourceSize</key>
                <string>{118,15}</string>
                <key>textureRect</key>
                <string>{{252,451},{118,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,12}</string>
                <key>spriteSourceSize</key>
                <string>{201,12}</string>
                <key>textureRect</key>
                <string>{{486,1},{201,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_right_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{398,448},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_right_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{450,448},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>route.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{134,451},{116,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>route_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,40}</string>
                <key>spriteSourceSize</key>
                <string>{119,40}</string>
                <key>textureRect</key>
                <string>{{13,451},{119,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>times.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,10}</string>
                <key>spriteSourceSize</key>
                <string>{42,10}</string>
                <key>textureRect</key>
                <string>{{1,451},{42,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>replay_ui.png</string>
            <key>size</key>
            <string>{501,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6bf1d68614fbc7979259e7e6cf15e4:a2b930967b06427387a791d66cb7bb38:ca9c79b97fda1759f43609bf4848ecc7$</string>
            <key>textureFileName</key>
            <string>replay_ui.png</string>
        </dict>
    </dict>
</plist>
