<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eat_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,65}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,1},{22,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{22,55}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,68},{22,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,65}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,1},{22,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{22,55}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,68},{22,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,65}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,1},{22,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{22,55}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,68},{22,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,65}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,1},{22,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eat_white_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{22,55}</string>
                <key>spriteSourceSize</key>
                <string>{22,65}</string>
                <key>textureRect</key>
                <string>{{105,68},{22,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_back_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,65}</string>
                <key>spriteSourceSize</key>
                <string>{23,65}</string>
                <key>textureRect</key>
                <string>{{94,493},{23,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_back_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{23,55}</string>
                <key>spriteSourceSize</key>
                <string>{23,65}</string>
                <key>textureRect</key>
                <string>{{68,562},{23,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_front_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{27,65}</string>
                <key>textureRect</key>
                <string>{{68,355},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_front_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{27,55}</string>
                <key>spriteSourceSize</key>
                <string>{27,65}</string>
                <key>textureRect</key>
                <string>{{94,560},{27,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_left_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,275},{72,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_left_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,349},{72,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_right_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,423},{72,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_right_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,497},{72,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_up_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{70,53}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{74,139},{70,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_up_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{70,53}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{74,211},{70,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_up_white_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{68,283},{70,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_up_white_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{1,571},{70,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_back_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{1,70},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{1,643},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{1,139},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{1,207},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{1,708},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,69}</string>
                <key>spriteSourceSize</key>
                <string>{24,69}</string>
                <key>textureRect</key>
                <string>{{68,422},{24,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,69}</string>
                <key>spriteSourceSize</key>
                <string>{24,69}</string>
                <key>textureRect</key>
                <string>{{94,422},{24,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_white_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{24,67}</string>
                <key>spriteSourceSize</key>
                <string>{24,69}</string>
                <key>textureRect</key>
                <string>{{68,493},{24,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,67}</string>
                <key>spriteSourceSize</key>
                <string>{27,67}</string>
                <key>textureRect</key>
                <string>{{76,1},{27,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,67}</string>
                <key>spriteSourceSize</key>
                <string>{27,67}</string>
                <key>textureRect</key>
                <string>{{76,70},{27,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_white_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{27,67}</string>
                <key>textureRect</key>
                <string>{{97,355},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>replay_animalAction.png</string>
            <key>size</key>
            <string>{128,771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39afc532b728d927a73258f80bb680ad:3ba1fe16f1fa6d28a865c04f9f8e6a9a:2fdb0ffc1ca2ee168d8ca9d33ed24621$</string>
            <key>textureFileName</key>
            <string>replay_animalAction.png</string>
        </dict>
    </dict>
</plist>
