<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>analyzing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,17}</string>
                <key>spriteSourceSize</key>
                <string>{115,17}</string>
                <key>textureRect</key>
                <string>{{240,629},{115,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_right-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{472,612},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,395}</string>
                <key>spriteSourceSize</key>
                <string>{448,395}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>form.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,86}</string>
                <key>spriteSourceSize</key>
                <string>{445,86}</string>
                <key>textureRect</key>
                <string>{{398,1},{445,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>form_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,87}</string>
                <key>spriteSourceSize</key>
                <string>{455,87}</string>
                <key>textureRect</key>
                <string>{{1,451},{455,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>form_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,87}</string>
                <key>spriteSourceSize</key>
                <string>{455,87}</string>
                <key>textureRect</key>
                <string>{{1,540},{455,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,15}</string>
                <key>spriteSourceSize</key>
                <string>{118,15}</string>
                <key>textureRect</key>
                <string>{{472,448},{118,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,12}</string>
                <key>spriteSourceSize</key>
                <string>{201,12}</string>
                <key>textureRect</key>
                <string>{{458,448},{201,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nod_right_white_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{357,629},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nod_right_white_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{409,629},{50,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>route.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{122,629},{116,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>route_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,42}</string>
                <key>spriteSourceSize</key>
                <string>{119,42}</string>
                <key>textureRect</key>
                <string>{{1,629},{119,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>times.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,10}</string>
                <key>spriteSourceSize</key>
                <string>{42,10}</string>
                <key>textureRect</key>
                <string>{{472,568},{42,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>replay_ui.png</string>
            <key>size</key>
            <string>{488,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:565b71bf0959d09242e1b2e9815c3a96:728d3b325ecd08fbfb5924e6c5f9d5bb:ca9c79b97fda1759f43609bf4848ecc7$</string>
            <key>textureFileName</key>
            <string>replay_ui.png</string>
        </dict>
    </dict>
</plist>
