<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_sit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{101,74}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{502,1},{101,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_sit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{101,70}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{399,1},{101,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>days.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{28,1},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>days2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>days3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,21}</string>
                <key>spriteSourceSize</key>
                <string>{70,21}</string>
                <key>textureRect</key>
                <string>{{83,1},{70,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,258}</string>
                <key>spriteSourceSize</key>
                <string>{318,258}</string>
                <key>textureRect</key>
                <string>{{653,164},{318,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,85}</string>
                <key>spriteSourceSize</key>
                <string>{329,85}</string>
                <key>textureRect</key>
                <string>{{483,77},{329,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>let_s play again_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,34}</string>
                <key>spriteSourceSize</key>
                <string>{480,34}</string>
                <key>textureRect</key>
                <string>{{1,77},{480,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sclect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{55,1},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{212,288}</string>
                <key>spriteSourceSize</key>
                <string>{224,304}</string>
                <key>textureRect</key>
                <string>{{1,164},{212,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{214,286}</string>
                <key>spriteSourceSize</key>
                <string>{224,304}</string>
                <key>textureRect</key>
                <string>{{215,164},{214,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{220,288}</string>
                <key>spriteSourceSize</key>
                <string>{224,304}</string>
                <key>textureRect</key>
                <string>{{431,164},{220,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{214,286}</string>
                <key>spriteSourceSize</key>
                <string>{224,304}</string>
                <key>textureRect</key>
                <string>{{215,164},{214,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,24}</string>
                <key>spriteSourceSize</key>
                <string>{123,24}</string>
                <key>textureRect</key>
                <string>{{274,1},{123,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{117,24}</string>
                <key>spriteSourceSize</key>
                <string>{123,24}</string>
                <key>textureRect</key>
                <string>{{155,1},{117,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startMenu.png</string>
            <key>size</key>
            <string>{972,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fdb837413c8ef07bf033d7cd71da785:339e287b7ea54109ff740fc9c758a31e:43b060099efa9e0eda539f048ffd7a9b$</string>
            <key>textureFileName</key>
            <string>startMenu.png</string>
        </dict>
    </dict>
</plist>
