<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>English.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_En_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,20}</string>
                <key>spriteSourceSize</key>
                <string>{125,20}</string>
                <key>textureRect</key>
                <string>{{317,1},{125,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_En_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,15}</string>
                <key>spriteSourceSize</key>
                <string>{212,15}</string>
                <key>textureRect</key>
                <string>{{268,27},{212,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_En_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,19}</string>
                <key>spriteSourceSize</key>
                <string>{201,19}</string>
                <key>textureRect</key>
                <string>{{65,27},{201,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{33,1},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{125,24}</string>
                <key>spriteSourceSize</key>
                <string>{129,24}</string>
                <key>textureRect</key>
                <string>{{65,1},{125,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{123,24}</string>
                <key>spriteSourceSize</key>
                <string>{129,24}</string>
                <key>textureRect</key>
                <string>{{192,1},{123,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>startMenu_new.png</string>
            <key>size</key>
            <string>{481,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3df520933256045703814ef3c7e18d2e:3fe30c7b03c44709a2f1536f524df232:c0d1dfba185f47560007bf3c1d264733$</string>
            <key>textureFileName</key>
            <string>startMenu_new.png</string>
        </dict>
    </dict>
</plist>
