<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fence front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,63}</string>
                <key>spriteSourceSize</key>
                <string>{450,63}</string>
                <key>textureRect</key>
                <string>{{458,437},{450,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fence right back left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,381}</string>
                <key>spriteSourceSize</key>
                <string>{434,381}</string>
                <key>textureRect</key>
                <string>{{453,1},{434,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hint_eat_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,19}</string>
                <key>spriteSourceSize</key>
                <string>{104,19}</string>
                <key>textureRect</key>
                <string>{{1,487},{104,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_eat_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,19}</string>
                <key>spriteSourceSize</key>
                <string>{86,19}</string>
                <key>textureRect</key>
                <string>{{197,487},{86,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_nod_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,19}</string>
                <key>spriteSourceSize</key>
                <string>{88,19}</string>
                <key>textureRect</key>
                <string>{{107,487},{88,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_nod_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,19}</string>
                <key>spriteSourceSize</key>
                <string>{86,19}</string>
                <key>textureRect</key>
                <string>{{285,487},{86,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pot empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{836,179},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pot food.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{836,117},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,32}</string>
                <key>spriteSourceSize</key>
                <string>{455,32}</string>
                <key>textureRect</key>
                <string>{{1,453},{455,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,95}</string>
                <key>textureRect</key>
                <string>{{836,1},{114,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>這個動物會在timeline上會隨時間流動從太陽移到月亮(總共5分鐘).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{900,117},{34,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{932,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7853866bbfbb19a1e3e0b967c8fb334d:a6b8c8b4cbba0ea8711867abcaac9d17:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
