<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fence front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,63}</string>
                <key>spriteSourceSize</key>
                <string>{450,63}</string>
                <key>textureRect</key>
                <string>{{487,1},{450,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fence right back left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{35,1},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,381}</string>
                <key>spriteSourceSize</key>
                <string>{434,381}</string>
                <key>textureRect</key>
                <string>{{552,1},{434,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_eat_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,24}</string>
                <key>spriteSourceSize</key>
                <string>{147,24}</string>
                <key>textureRect</key>
                <string>{{35,453},{147,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_eat_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,24}</string>
                <key>spriteSourceSize</key>
                <string>{135,24}</string>
                <key>textureRect</key>
                <string>{{184,453},{135,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_nod_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,24}</string>
                <key>spriteSourceSize</key>
                <string>{125,24}</string>
                <key>textureRect</key>
                <string>{{458,453},{125,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_nod_english.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,24}</string>
                <key>spriteSourceSize</key>
                <string>{135,24}</string>
                <key>textureRect</key>
                <string>{{321,453},{135,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pot empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{763,384},{62,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pot food.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{701,384},{62,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,32}</string>
                <key>spriteSourceSize</key>
                <string>{455,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{455,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,95}</string>
                <key>spriteSourceSize</key>
                <string>{114,95}</string>
                <key>textureRect</key>
                <string>{{585,384},{114,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>這個動物會在timeline上會隨時間流動從太陽移到月亮(總共5分鐘).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{552,384},{34,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{987,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0366f95250c6392c0e107df03de916ac:1e53e613521e816af85f44037e6b5e56:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
